# Конфигурация msmtp
# Управляется Ansible - НЕ РЕДАКТИРОВАТЬ ВРУЧНУЮ

# Глобальные настройки
defaults
auth           on
tls            {{ 'on' if smtp_tls else 'off' }}
tls_starttls   {{ 'on' if smtp_tls_starttls else 'off' }}
tls_trust_file {{ smtp_tls_trust_file }}
logfile        {{ msmtp_logfile }}

# Аккаунт {{ smtp_account_name }}
account        {{ smtp_account_name }}
host           {{ smtp_host }}
port           {{ smtp_port }}
from           {{ smtp_email }}
user           {{ smtp_email }}
password       {{ smtp_password }}

# Аккаунт по умолчанию
account default : {{ smtp_account_name }}
